<div class="card">
	<div class="card-body">
		<div class="card-title">
			<h2><%=@tarea.titulo %></h2>

		</div>
		<div class="card-text">
		<p><%= @tarea.descripcion %></p>
		</div>
	</div>
</div>
<% unless @tarea.usuario.nil? %>
	<p>Escrito por: <%= @tarea.usuario.email%></p>
<% end %>

<h3>Agregar comentario</h3>
<%= render "comentarios/form" %>

<h3>Comentarios</h3>
<ul>
	<% @tarea.comentarios.each do |comentario| %>
	<li><%= comentario.contenido %></li>
	<% end %>
</ul>